header.header
	.header-burger
		span.header-burger__line
		span.header-burger__line
		span.header-burger__line
	nav.header-menu
		.header-menu__left.colorBlock
			.portrait
				img(src="static/images/content/port-1.jpg" alt="portrait" class="portrait__img")
		ul.header-menu__list
			li.header-menu__item
				a(href="index.html").header-menu__link.header-menu__link--current Home
			li.header-menu__item
				a(href="my-work.html").header-menu__link My work
			li.header-menu__item
				a(href="skills.html").header-menu__link.header-menu__link Skills
			li.header-menu__item
				a(href="contact.html").header-menu__link Contact
