include helpers/mixins
block variables
	- var title = 'Contacts'

doctype html
html(lang="en")
	head
		meta(charset="utf-8")
		title #{title}
		<!--[if IE]>
		meta(http-equiv='X-UA-Compatible', content="IE = edge")
		<![endif]-->
		meta(name="viewport" content="width=device-width,initial-scale=1")
		meta(name="keywords" content="")
		link(rel="stylesheet" type='text/css' href="static/css/styles.css")

		<!--[if lt IE 9]>
		script(src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv-printshiv.min.js")
		<![endif]-->
	body
		.wrapper.wrapper--contact
			header.header
				.header-burger
					span.header-burger__line
					span.header-burger__line
					span.header-burger__line
				nav.header-menu
					.header-menu__left.colorBlock
						.portrait
							img(src="static/images/content/port-1.jpg" alt="portrait" class="portrait__img")
					ul.header-menu__list
						li.header-menu__item
							a(href="index.html").header-menu__link Home
						li.header-menu__item
							a(href="my-work.html").header-menu__link My work
						li.header-menu__item
							a(href="skills.html").header-menu__link.header-menu__link Skills
						li.header-menu__item
							a(href="contact.html").header-menu__link.header-menu__link--current Contact
			.content
				section.contact
					.container
						h1.title-section Contact me
						.contacts
							.contacts-mail
								+icon('email', 'contacts-icon')
								a(href="mailto:al.gaziev616@gmail.com" target="_blank").contacts-link--mail al.gaziev616@gmail.com
							a(href="https://t.me/alois616" target="_blank").contacts-link
								+icon("telegram", "contacts-icon")
							a(href="https://github.com/lod616" target="_blank").contacts-link
								+icon("github", "contacts-icon")



		script(src="static/js/main.js")
