extends layout/main

block variables
	-var title = 'Главная страница'

block content
	.home-page
		.home-page__about
			.portrait.portrait--main
				<img src="static/images/content/port-1.jpg" alt="portrait" class="portrait__img">
			.home-page__info
				h1.title-section.title-section--main Ali Gaziev
				span.home-page__profession Web Developer
