// Colors
$white: #fff;
$black: #000;
$bg-header: #252627;
$blue-color: #3399ff;
$border-color: #e3e3e3;
$secondary-color: #eece1a;

// Sizes
$base-font-size: 14px;

$tablet: 768;
$large: 1024;
$desktop: 1280;

$content: 1000px;

// Fonts
$main-font: "ubuntu", Arial, sans-serif;

