.contacts {
  & > * {
    margin-bottom: 20px;
    &:first-child {
      margin-top: 0;
    }
    &:last-child {
      margin-bottom: 0;
    }
  }
  &-item {
    align-items: center;
    display: flex;
    & > * {
      &:not(:last-child) {
        margin-right: 10px;
      }
    }
    &__link {
      height: 40px;
      padding: 10px;
      line-height: 1.4;
      background-color: #757575;
      border-radius: 6px;
      color: $white;
      font-size: 14px;
      font-style: italic;
      width: 100%;
      max-width: 150px;
      &-icon {
        @include size(45px);
        &--email {
          margin-bottom: 5px;
        }
      }
    }
  }
}

.social-networks {
  & > * {
    &:not(:last-child) {
      margin-right: 15px;
    }
  }
  &__icon {
    @include size(35px);
  }
}
